body {
    background-color: #FFDBDB;
}

.colorfooter {
    background-color: pink;
}

h5 {font-size: 70px;
   color: rgb(241, 227, 227);
   text-shadow: 6px 5px 7px #9600FF;

}
.bordeimg{
    border-radius: 84px;
}

.navtexto {
    color: pink ;
    text-shadow: 2px 3px 3px #F93535, 5px 5px 10px #7B2F2F;
}



/*.navcolor {
    background: linear-gradient(0deg, #EF7F7F 0%, #EF7F7F 13%, #EF7F7F 15%, #fff 100%, #9E3131 100%);

}*/

a:hover {
 color: aqua;
}


